<header class="web-header">
    <div class="container-fluid">
        <div class="header-inner">
            <div class="header-left">
                <span class="sidebar-toggler sidebar-opner">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
                <a class="header-meta" href="/">
                    <img alt="book" src="images/home.png">
                </a>
                <a class="header-meta" href="/page?search=">
                    <img alt="book" src="images/boo.png">
                </a>
            </div>
            <div class="dropdown dropdown-language">
                <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    English
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                   <a class="dropdown-item" href="/lang/">English</a>
                   <a class="dropdown-item" href="">Arabic</a>
                   <a class="dropdown-item" href="">Persian</a>
                   <a class="dropdown-item" href="">Urdu</a>
                </div>
             </div>
        </div>
    </div>
</header>