<!doctype html>
<html lang="en">

<head>
    <%- include('./head') %>
</head>

<body class="web-body">

    <!-- Header -->
    <%- include('./header')  %> 
    <!-- Header Ends -->

    <!-- Sidebar -->
    <%- include('./leftnav')  %> 
    
    <!-- Sidebar Ends -->

    <!-- Content Cards -->
    <section class="app-content" id="app-content">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-xl-10 col-lg-11 col-md-12">
                    <div class="app-title">
                        <img alt="logo" class="app-brand" src="images/app-logo.png">
                        <h1 class="main-title">The Holy Bible </h1>
                    </div>
                    <div class="searchbar">
                        <input type="search" placeholder="Search “Genesis”" class="form-control">
                        <button type="button" class="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row flex-equal">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-book-medical"></i>
                        <span>English Bible </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-comment-dots"></i>
                        <span> English Message </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-book-open"></i>
                        <span>Seven Church Ages </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-book-open"></i>
                        <span>Seven Seals</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-book"></i>
                        <span>Special Books</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-music"></i>
                        <span>Songs</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-file-alt"></i>
                        <span>Quotes</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-reply-all"></i>
                        <span>Q & A</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <span>Tracts</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-quote-left"></i>
                        <span>Stories</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-cogs"></i>
                        <span>Settings</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-head-side-virus"></i>
                        <span>Dreams & Visions</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-edit"></i>
                        <span>Poems</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="descriptive-box" href="">
                        <i class="fas fa-hands"></i>
                        <span>Prayer & Sayings</span>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- Content Cards Ends -->

    <!-- Option jQuery and Bootstrap Bundle (or includes Popper) -->
    <%- include('./bottom')  %> 

</body>
</html>