<!doctype html>
<html lang="en">

    <head>
        <%- include('./head') %>
    </head>
    
    <body class="web-body">
    
        <!-- Header -->
        <%- include('./header')  %> 
        <!-- Header Ends -->
    
        <!-- Sidebar -->
        <%- include('./leftnav')  %> 
        
        <!-- Sidebar Ends -->

    <!-- Content Cards -->
    <section class="app-content active" id="app-content">
        <div class="container-fluid">
            <div class="inner-page-search">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12">
                        <div class="chapterheading">
                            <h2>Genesis 1 (1 to 31)</h2>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="searchbar">
                                    <input type="search" placeholder="Search “Genesis”" class="form-control">
                                    <button type="button" class="search-btn">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-xs-12">
                                <div class="inner-info-link">
                                    <a href="#">
                                        <i class="fas fa-language"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fas fa-book-reader"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fas fa-retweet"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fas fa-download"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="language-compare">
                    <button type="button">
                        Language Comparison
                            <i class="fas fa-language"></i>
                       
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="chapter-detail">
                <p>
                    <b>1.</b>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quas assumenda sed voluptate reprehenderit odio necessitatibus alias, soluta, nesciunt doloremque quos perspiciatis, veritatis itaque autem sint voluptatem voluptates quo facilis.
                    <a href="#">. [Ref 1]</a>
                </p>
                <p>
                    <b>1.</b>
                     ஆதியிலே தேவன் வானத்தையும் பூமியையும் சிருஷ்டித்தார்.
                </p>
                <p>
                    <b>2.</b>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <p>
                    <b>2.</b>
                    பூமியானது ஒழுங்கின்மையும் வெறுமையுமாய் இருந்தது; ஆழத்தின்மேல் இருள் இருந்தது; தேவ ஆவியானவர் ஜலத்தின்மேல்
                    அசைவாடிக்கொண்டிருந்தார்.
                </p>
                <p>
                    <b>3.</b>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <p>
                        <b>3.</b>
                        தேவன் வெளிச்சம் உண்டாகக்கடவது என்றார், வெளிச்சம் உண்டாயிற்று.
                    </p>
                </p>
                <p>
                    <b>4.</b>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <p>
                    <b>4.</b>
                    வெளிச்சம் நல்லது என்று தேவன் கண்டார்; வெளிச்சத்தையும் இருளையும் தேவன் வெவ்வேறாகப் பிரித்தார்.
                </p>
                <p>
                    <b>5.</b>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <p>
                    <b>5.</b>
                    தேவன் வெளிச்சத்துக்குப் பகல் என்று பேரிட்டார், இருளுக்கு இரவு என்று பேரிட்டார்; சாயங்காலமும் விடியற்காலமுமாகி, முதலாம்
                    நாள் ஆயிற்று.
                </p>
                <p>
                    <b>6.</b>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <p>
                    <b>6.</b>
                    பின்பு தேவன்: ஜலத்தின் மத்தியில் ஆகாயவிரிவு உண்டாகக்கடவது என்றும், அது ஜலத்தினின்று ஜலத்தைப் பிரிக்கக்கடவது என்றும்
                    சொன்னார்.
                </p>
            </div>
        </div>

    </section>
    <!-- Content Cards Ends -->

    <!-- Option jQuery and Bootstrap Bundle (or includes Popper) -->
    <%- include('./bottom')  %> 

</body>
</html>