<aside class="sidebar">
    <div class="sidebar-head">
        <h4>Menu</h4>
        <span class="close-sidebar sidebar-opner">
            <i class="fas fa-times"></i>
        </span>
    </div>
    <ul class="sidebar-list">
        <li>
            <a href="innerpage.html">Dummy data</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dummy data
            </a>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="">Standard Version</a>
               <a class="dropdown-item" href="">Standard Version</a>
               <a class="dropdown-item" href="">Standard Version</a>
               <a class="dropdown-item" href="">Standard Version</a>
               <a class="dropdown-item" href="">Standard Version</a>
               <a class="dropdown-item" href="">Standard Version</a>
            </div>
         </li>
         <li class="dropdown">
            <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dummy data
            </a>
            <div class="dropdown-menu">
               <a class="dropdown-item" href="">Standard Version</a>
               <a class="dropdown-item" href="">Standard Version</a>
               <a class="dropdown-item" href="">Standard Version</a>
               <a class="dropdown-item" href="">Standard Version</a>
               <a class="dropdown-item" href="">Standard Version</a>
               <a class="dropdown-item" href="">Standard Version</a>
            </div>
         </li>
         <li>
            <a href="">Dummy data</a>
        </li>
    </ul>
</aside>