<!doctype html>
<html lang="en">

    <head>
        <%- include('./head') %>
    </head>
    
    <body class="web-body">
    
        <!-- Header -->
        <%- include('./header')  %> 
        <!-- Header Ends -->
    
        <!-- Sidebar -->
        <%- include('./leftnav')  %> 
        
        <!-- Sidebar Ends -->

    <!-- Content Cards -->
    <section class="app-content active" id="app-content">
        <div class="container-fluid">
            <div class="quote-arrow">
                <a href="#"><i class="fas fa-arrow-left"></i></a>
                <p>Branham Quotes - C - Index</p>
                <a href="#"><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="quote-detail">
                <p>Call me a holy-roller if you want to; call me anything you want to; as long as my heart's right with God, and my experience matches God's Bible, I'm moving right on in the same direction"</p>
                <h4>-58-0928E The Serpent's Seed</h4>
                <a href="#"><i class="fas fa-download"></i> Download</a>
            </div>
            <div class="quote-detail">
                <p>Call me a holy-roller if you want to; call me anything you want to; as long as my heart's right with God, and my experience matches God's Bible, I'm moving right on in the same direction"</p>
                <h4>-58-0928E The Serpent's Seed</h4>
                <a href="#"><i class="fas fa-download"></i> Download</a>
            </div>
            <div class="quote-detail">
                <p>Call me a holy-roller if you want to; call me anything you want to; as long as my heart's right with God, and my experience matches God's Bible, I'm moving right on in the same direction"</p>
                <h4>-58-0928E The Serpent's Seed</h4>
                <a href="#"><i class="fas fa-download"></i> Download</a>
            </div>
            <div class="quote-detail">
                <p>Call me a holy-roller if you want to; call me anything you want to; as long as my heart's right with God, and my experience matches God's Bible, I'm moving right on in the same direction"</p>
                <h4>-58-0928E The Serpent's Seed</h4>
                <a href="#"><i class="fas fa-download"></i> Download</a>
            </div>
            <div class="quote-detail">
                <p>Call me a holy-roller if you want to; call me anything you want to; as long as my heart's right with God, and my experience matches God's Bible, I'm moving right on in the same direction"</p>
                <h4>-58-0928E The Serpent's Seed</h4>
                <a href="#"><i class="fas fa-download"></i> Download</a>
            </div>
        </div>

    </section>
    <!-- Content Cards Ends -->

    <!-- Option jQuery and Bootstrap Bundle (or includes Popper) -->
    <%- include('./bottom')  %> 

</body>
</html>